<% include head %>
<% include menu %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
			<div id="add-actor-to-movie">
				<h3>Add Actor to Movie</h3>
				<form method="post" action="/movie/actor/add">
					<label>Movie</label><br>
					<select name="movie">
						<option>---</option>
						<% movies.forEach(function(movie) { %>
						<option value ="<%= movie.id %>"> <%= movie.title %> </option>
						<% }) %>
					</select>
					<br>
					<label>Actor</label><br>
					<select name="person">
						<option>---</option>
						<% persons.forEach(function(person) { %>
						<option value ="<%= person.id %>"> <%= person.name %> </option>
						<% }) %>
					</select>
					<br>
					<br>
					<input type="submit" value="Submit">
				</form>
				<hr>
			</div>
			<div id="add-director-to-movie">
				<h3>Add Director to Movie</h3>
				<form method="post" action="/movie/director/add">
					<label>Movie</label><br>
					<select name="movie">
						<option>---</option>
						<% movies.forEach(function(movie) { %>
						<option value ="<%= movie.id %>"> <%= movie.title %> </option>
						<% }) %>
					</select>
					<br>
					<label>Director</label><br>
					<select name="person">
						<option>---</option>
						<% persons.forEach(function(person) { %>
						<option value ="<%= person.id %>"> <%= person.name %> </option>
						<% }) %>
					</select>
					<br>
					<br>
					<input type="submit" value="Submit">
				</form>
				<hr>
			</div>

			<div id="shortest-path-movie-movie">
				<h3>Shortest Path: Movie to Movie</h3>
				<form method="post" action="/shortest/movies">
					<label>Movie 1</label><br>
					<select name="movie1">
						<option>---</option>
						<% movies.forEach(function(movie) { %>
						<option value ="<%= movie.id %>"> <%= movie.title %> </option>
						<% }) %>
					</select>
					<br>
					<label>Movie 2</label><br>
					<select name="movie2">
						<option>---</option>
						<% movies.forEach(function(movie) { %>
						<option value ="<%= movie.id %>"> <%= movie.title %> </option>
						<% }) %>
					</select>
					<br>
					<br>
					<input type="submit" value="Find">
				</form>
				<% shortestMoviePaths.forEach(function(path) { %>
				<p>Path:</p>
				<!-- start -->
				<p>
				<% if(path.segments[0].start.labels[0] == "Movie"){ %>
				<%= path.segments[0].start.properties.title %>
				<% } else{ %>
				<%= path.segments[0].start.properties.name %>
				<% } %>

				<% path.segments.forEach(function(seg) { %>
				<span> --> </span>
				<!-- end -->
				<% if(seg.end.labels[0] == "Movie"){ %>
				<%= seg.end.properties.title %>
				<% } else{ %>
				<%= seg.end.properties.name %>
				<% } %>
				<% }) %>
				</p>
				<br>
				<% }) %>
				<hr>
			</div>
			<div id="shortest-path-person-person">
				<h3>Shortest Path: Person to Person</h3>
				<form method="post" action="/shortest/person">
					<label>Person 1</label><br>
					<select name="person1">
						<option>---</option>
						<% persons.forEach(function(person) { %>
						<option value ="<%= person.id %>"> <%= person.name %> </option>
						<% }) %>
					</select>
					<br>
					<label>Person 2</label><br>
					<select name="person2">
						<option>---</option>
						<% persons.forEach(function(person) { %>
						<option value ="<%= person.id %>"> <%= person.name %> </option>
						<% }) %>
					</select>
					<br>
					<br>
					<input type="submit" value="Find">
				</form>

				<% shortestPeoplePaths.forEach(function(path) { %>
				<p>Path:</p>
				<!-- start -->
				<p>
				<% if(path.segments[0].start.labels[0] == "Movie"){ %>
				<%= path.segments[0].start.properties.title %>
				<% } else{ %>
				<%= path.segments[0].start.properties.name %>
				<% } %>
				<% path.segments.forEach(function(seg) { %>
				<span> --> </span>
				<!-- end -->
				<% if(seg.end.labels[0] == "Movie"){ %>
				<%= seg.end.properties.title %>
				<% } else{ %>
				<%= seg.end.properties.name %>
				<% } %>
				<% }) %>
				</p>
				<br>
				<% }) %>
				<hr>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
	</div>
</div>