<%include menu %>

<h3>Add Actor to Movie</h3>
<form method="post" action="/movie/actor/add">
  <label>Movie</label><br>
  <select name="movie">
	<option>---</option>
	<% movies.forEach(function(movie) { %>
	   <option value ="<%= movie.id %>"> <%= movie.title %> </option>
	<% }) %>
	</select>
  
  <br>
  <label>Actor</label><br>
  <select name="person">
	<option>---</option>
	<% persons.forEach(function(person) { %>
	   <option value ="<%= person.id %>"> <%= person.name %> </option>
	<% }) %>
	</select>
  
  <br><br>
  <input type="submit" value="submit">
</form>

<hr>

<h3>Add Director to Movie</h3>
<form method="post" action="/movie/director/add">
  <label>Movie</label><br>
  <select name="movie">
	<option>---</option>
	<% movies.forEach(function(movie) { %>
	   <option value ="<%= movie.id %>"> <%= movie.title %> </option>
	<% }) %>
	</select>
  
  <br>
  <label>Director</label><br>
  <select name="person">
	<option>---</option>
	<% persons.forEach(function(person) { %>
	   <option value ="<%= person.id %>"> <%= person.name %> </option>
	<% }) %>
	</select>
  
  <br><br>
  <input type="submit" value="submit">
</form>